<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>餐厅点餐系统</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CanzhuoDeleteServlet</servlet-name>
    <servlet-class>servlet.CanzhuoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanzhuoDeleteServlet</servlet-name>
    <url-pattern>/canzhuo/CanzhuoDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ygInsertServlet</servlet-name>
    <servlet-class>servlet.ygInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ygInsertServlet</servlet-name>
    <url-pattern>/yuangong/ygInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ygSelectServlet</servlet-name>
    <servlet-class>servlet.ygSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ygSelectServlet</servlet-name>
    <url-pattern>/yuangong/ygSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ygUpdateServlet</servlet-name>
    <servlet-class>servlet.ygUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ygUpdateServlet</servlet-name>
    <url-pattern>/yuangong/ygUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ygDeleteServlet</servlet-name>
    <servlet-class>servlet.ygDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ygDeleteServlet</servlet-name>
    <url-pattern>/yuangong/ygDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cpSelectServlet</servlet-name>
    <servlet-class>servlet.cpSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cpSelectServlet</servlet-name>
    <url-pattern>/caipin/cpSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cpDeleteServlet</servlet-name>
    <servlet-class>servlet.cpDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cpDeleteServlet</servlet-name>
    <url-pattern>/caipin/cpDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cpInsertServlet</servlet-name>
    <servlet-class>servlet.cpInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cpInsertServlet</servlet-name>
    <url-pattern>/caipin/cpInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cpUpdateServlet</servlet-name>
    <servlet-class>servlet.cpUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cpUpdateServlet</servlet-name>
    <url-pattern>/caipin/cpUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CzSelectServlet</servlet-name>
    <servlet-class>servlet.CzSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CzSelectServlet</servlet-name>
    <url-pattern>/canzhuo/CzSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DzInsertServlet</servlet-name>
    <servlet-class>servlet.DzInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DzInsertServlet</servlet-name>
    <url-pattern>/dingzhuo/DzInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DcInsertServlet</servlet-name>
    <servlet-class>servlet.DcInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DcInsertServlet</servlet-name>
    <url-pattern>/diancai/DcInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DcDeleteServlet</servlet-name>
    <servlet-class>servlet.DcDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DcDeleteServlet</servlet-name>
    <url-pattern>/diancai/DcDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CdSelectServlet</servlet-name>
    <servlet-class>servlet.CdSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CdSelectServlet</servlet-name>
    <url-pattern>/caidan/CdSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XdtSelectServlet</servlet-name>
    <servlet-class>servlet.XdtSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XdtSelectServlet</servlet-name>
    <url-pattern>/totalmoney/XdtSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JzInsertServlet</servlet-name>
    <servlet-class>servlet.JzInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JzInsertServlet</servlet-name>
    <url-pattern>/totalmoney/JzInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CzInsertServlet</servlet-name>
    <servlet-class>servlet.CzInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CzInsertServlet</servlet-name>
    <url-pattern>/canzhuo/CzInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yjSelectServlet</servlet-name>
    <servlet-class>servlet.yjSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yjSelectServlet</servlet-name>
    <url-pattern>/yeji/yjSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CdInsertServlet</servlet-name>
    <servlet-class>servlet.CdInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CdInsertServlet</servlet-name>
    <url-pattern>/card/CdInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cardSelectServlet</servlet-name>
    <servlet-class>servlet.cardSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cardSelectServlet</servlet-name>
    <url-pattern>/card/cardSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cardsingleSelectServlet</servlet-name>
    <servlet-class>servlet.cardsingleSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cardsingleSelectServlet</servlet-name>
    <url-pattern>/card/cardsingleSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cardDeleteServlet</servlet-name>
    <servlet-class>servlet.cardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cardDeleteServlet</servlet-name>
    <url-pattern>/card/cardDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gukeInsertServlet</servlet-name>
    <servlet-class>servlet.gukeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gukeInsertServlet</servlet-name>
    <url-pattern>/guke/gukeInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gukeSelectServlet</servlet-name>
    <servlet-class>servlet.gukeSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gukeSelectServlet</servlet-name>
    <url-pattern>/guke/gukeSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>canzhuoallSelectServlet</servlet-name>
    <servlet-class>servlet.canzhuoallSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canzhuoallSelectServlet</servlet-name>
    <url-pattern>/canzhuo/canzhuoallSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>canzhuoUpdateServlet</servlet-name>
    <servlet-class>servlet.canzhuoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canzhuoUpdateServlet</servlet-name>
    <url-pattern>/canzhuo/canzhuoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GukeDeleteServlet</servlet-name>
    <servlet-class>servlet.GukeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GukeDeleteServlet</servlet-name>
    <url-pattern>/guke/GukeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GukeUpdateServlet</servlet-name>
    <servlet-class>servlet.GukeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GukeUpdateServlet</servlet-name>
    <url-pattern>/guke/GukeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiancaiSelectServlet</servlet-name>
    <servlet-class>servlet.DiancaiSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiancaiSelectServlet</servlet-name>
    <url-pattern>/diancai/DiancaiSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginuserSelectServlet</servlet-name>
    <servlet-class>servlet.LoginuserSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginuserSelectServlet</servlet-name>
    <url-pattern>/LoginuserSelectServlet</url-pattern>
  </servlet-mapping>
</web-app>